<!DOCTYPE html>
<html>
  <head>
    <title>FortyTwo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <%= render 'shared/navbar' if current_user %>
  <body>
    <%= yield %>
  </body>
</html>
